@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
box-sizing: border-box;

}
html,body{
margin: 0px;
padding: 0;
font-family: 'Montserrat', sans-serif;
height: 100%;
background-color: #ffffff;
}
.clearfix::after{
content: '';
display: block;
clear: both;
}
.btn{
padding: .5rem 1rem;
background-color: #006669;
color: white;
border: 1px solid transparent;
border-radius: .25rem;
cursor: pointer;
font-size: 1.0em;
font-family: 'Montserrat', sans-serif;
}
.btn-big{
padding: .7rem 1.3rem;
line-height: 1.3rem;
background-color:  #143C75;
}
.footer-section .btn-big:hover{
background-color: #184E9B;
}
.btn:hover{
color: white;
background-color: #044547;
}
.text-input{
padding: .7rem 1em;
display: block;
width: 100%;
border-radius: 5px;
outline: none;
color: #444;
line-height: 1.5rem;
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
border: 4px solid #e0e0e0;
}
.page-wrapper{
min-height: 100%;

}
.error {
color: #884b4b;
background: rgb(245, 188, 188);
border: 1px solid #6e3a3d;
}
.success {
color: #3a6e3a;
background: #bcf5bc;
border: 1px solid #3a6e3a;
}
/*Navbar*/
header{
background-color: #00182f;
height: 66px;
}
header *{
color: white;
}
header .logo{
float: left;
height: inherit;
margin-left: 2em;
}
header .logo a{
text-decoration: none;
}
header .logo-text{
margin: 8px;
font-family: 'Oswald', sans-serif;

}
header .logo-text span{
color: #61aaff;
}
header ul{
float: right;
margin: 0px;
padding: 0px;
list-style: none;

}
header ul li{
float: left;
position: relative;
}
header ul li:hover ul{
display: block;
}
header ul li ul{
position: absolute;
top: 66px;
right: 0px;
width: 180px;
display: none;
}
header ul li ul li{
width: 100%;
}
header ul li ul li a{
padding: 10px;
background-color: white;
color: #4444;
}
header ul li ul li a.logout{
color: red;
}
header ul li ul li a:hover{
background-color: #d5d6d6;
transition: 0.5s;
}
header ul li a{
display: block;
padding: 21px;
font-size:1em;
text-decoration: none;
}
header ul li a:hover{
background-color: #3B618D;
transition: 0.5s;
}
header .menu-toggle{
display: none;
}
table {
width: 100%;
border-collapse: collapse;
font-size: 1.1em;
}
th, td {
padding: 15px;
text-align: left;
border-bottom: 1px solid #d3d3d3;
}

.container{
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: minmax(100px, auto);
grid-column-gap: 10px;
grid-row-gap: 15px;
grid-template-areas:
"boxes"

}
.header {
    grid-area: header;
}
.boxes{
    grid-area: boxes;
}
.footer{
    grid-area: footer;
}
/*Section*/
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
max-width: 350px;
height: auto;
text-align: center;
font-family: arial;
margin: 30px;
padding: 20px;
flex: 1 1 auto;
}
.boxes{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}


.price {
color: grey;
font-size: 18px;
}
.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #22441E;
text-align: center;
cursor: pointer;
width: 50%;
font-size: 18px;
border-radius: 20px;
line-height: 10px;
margin: 0px 0px 15px 0;
}
.card button:hover {
opacity: 0.7;
background-color: #008000 ;
transition: 0.7s;
}
.card img{
height: 200px;
width: 200PX;
}
.card p{
padding: 10px;
}
.card h1{
padding: 10px;
}
.checked{
color: #008000;
}




/*Content*/
.content{
width: 90%;
margin:30px auto 30px;

}
.content .main-content{
width: 70%;
float: left;
}
.content .main-content.single{
background-color: white;
padding: 20px 50px;
font-size: 1.1em;
border-radius: 5px;
}
.content .main-content.single .post-title{
text-align: center;
margin-bottom: 40px;
}
.content .main-content .post{
width: 95%;
height: 270PX;
margin: 20px auto;
border-radius: 5px;
background: white;
position: relative;

}
/*.content .main-content .post .read-more{
position: absolute;
bottom: 10px;
right: 10px;
border: 1px solid 006669;
background-color: transparent;
border-radius: 0px;
color: 006669;
}
.content .main-content .post .read-more:hover{
background-color:white ;
transition: .25s;
}*/
.content .main-content .post .post-image{
width: 40%;
height: 100%;

float: left;
}
.content .main-content .post .post-preview{
padding: 10px;
width: 60%;
float: right;
}
.content .main-content .post .post-preview .btn.read-more{
float: right;
}
.content .main-content .recent-post-title{
margin: 20px;
}
.content .sidebar{
width: 30%;
float: left;
padding:
height: 300px;
}
.content .sidebar.single{
padding: 0px 10px;
}
/*Sidebar*/
.content .sidebar .section{
background-color: white;
padding: 20px;
border-radius: 5px;
margin-bottom: 20px;
}
.content .sidebar .section.search{
margin-top: 80px;
}
.content .sidebar .section.topics ul{
margin: 0px;
padding: 0px;
list-style: none;
}
.content .sidebar .section.topics ul li a{
border-bottom:1px solid #0e0e0e;
padding: 15px 0px;
display: block;
color: #0e0e0e;
text-decoration: none;
}
.content .sidebar .section.topics ul li a:hover{
padding-left: 10px;
transition: all 0.3s;
}
.main-content.single .post-author{
padding: 5px;
margin-top: 50px;s
}
/*Registration*/
.auth-content{
width: 30%;
margin: 50px auto;
padding: 20px;
background-color: white;
border-radius: 5px;
}
.auth-content .form-title{
text-align: center;
}
.auth-content form div{
margin-bottom: 10px;
}
.auth-content form p{
text-align: center;
}
.auth-content form p a{
text-decoration: underline;
}
/*//Registration*/
/*Footer*/
.footer{
background-color: #05213e;
color: #d3d3d3;
height: 410px;
position: relative;
}
.footer .footer-content{
display: flex;
height: 350px;
}
.footer .footer-content .footer-section {
flex: 1;
padding: 25px;
}
.footer .footer-content h1,
.footer .footer-content h2,
{
color: white;
}
.footer .footer-content .about h1 span{
color: #61aaff;
}
.footer .footer-content .about .contact span{
display: block;
font-size: 1.1em;
margin-bottom: 8px;
}
.footer .footer-content .about .social a{
/*border: 1px solid grey;*/
width: 45px;
height: 41px;
padding-top: 5px;
text-align: center;
margin-right: 5px;
display: inline-block;
font-size: 1.3em;
border-radius: 5px;
transition: all .3s;
color: #C9C9C9;
}
.footer .footer-content .about .social a:hover{
border: 1px solid white;
color: white;
transition: all .3s;
}
.footer .footer-content .links ul a{
display: block;
margin-bottom: 5px;
font-size: 1.2em;
color: #C9C9C9;
transition: all .3s;
}
.footer .footer-content .links ul a:hover{
color: white;
margin-left: 15px;
transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
background-color: #112b52;
color: #bebdbd;
margin-bottom: 10px;
line-height: 1.5rem;
padding: .9rem 1.4rem;
border: none;
}
.footer .footer-content .contact-form .contact-input:fokus{
background-color:#1a1a1a;
}
.footer .footer-bottom{
background-color: #00182f;
color: #686868;
height: 50px;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding-top: 20px;
width: 100%;
}
/*Media Queries*/
@media only screen and (max-width: 934px){
.content{
width: 100%;
}
.content .main-content{
width: 100%;
padding: 10px;
}
.content .main-content .post{
width: 100%;
}
.auth-content{
width: 50%;
}
.content .sidebar{
width: 100%;
padding:10px;
}
.content .sidebar .section.search{
margin-top: 30px;
}
.footer{
height: auto;

}
.footer .footer-content{

height: auto;
flex-direction: column;
}
.footer .footer-content .contact-form{
padding-bottom:  90px;
}
.footer .footer-content .contact-form .btn{
width: 100%;
}
}
@media only screen and (max-width: 750px){
header{
position: relative;
}
header ul{
width: 100%;
background-color: #0E94A0;
max-height: 0px;
overflow: hidden;
}
header ul li{
width: 100%;
}
header ul li ul{
position: static;
display: block;
width: 100%;
}
header ul li ul li a{
padding: 10px;
background-color: inherit;
color: white;
padding-left: 50px;
}
header ul li ul li a:hover{
background-color: #006669
}
header ul li ul li a.logout{
color: red;
}
.auth-content{
width: 60%;
}
.showing{
max-height: 100em;
}
header .menu-toggle{
display: block;
position: absolute;
right: 20px;
top: 20px;
font-size: 1.9em;
}
header .logo{

margin-left: .8em;
}
}
@media only screen and (max-width: 600px){
.content .main-content .post .post-preview{
width: 100%;


}
.content .main-content .post{
height: auto;
}
.content .main-content .post .post-image{
width: 100%;

}
.auth-content{
width: 90%;
}
}